/* getting the roboto font normal and italic from the folder */
@font-face {
    font-family: 'Roboto Condensed';
    src: url('roboto-font/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('roboto-font/RobotoCondensed-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
/* apply the font to the whole webpage */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #f9f9f9;
    color: #333; 
}

/* ----------head section----- */
#header {
    width: 100%;
    height: 100%; 
}
.container{
    padding: 10px 10%;
}
#sidemenu {
    position: fixed;
    top: 10px;
    right: 15px; 
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    z-index: 1;  /* fixes overlapping with  image's shadow added */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/* create underlines for sidemenu elements */
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.6s; 
}
/* make the underlines visible only after cursor movement */
nav ul li a:hover::after{
    width: 100%;
}

/* header elements location */
#header{
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

/* styling the header text */
.header-text{
    font-size: 30px;
    flex-basis: 60%;
}
.header-text h1{
    font-size: 70px;
    margin-top: 15%;
}
.header-text h1 span{
    color: #ff004f;
}
.header-text p span{
    font-size: smaller;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-icons{
    margin-top: 23px;
}
.social-icons a{
    text-decoration: none;
    font-size: 55px;
    margin-right: 15px;
    color: #8e8e8e;
    display: inline-block;
    transition: 0.6s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-15px);
}
.bth.bth2{
    display: inline-block;
    background: #ff004f;
    color: #fff;
    margin-top: 7%;
}

/* style for go-projects button */
.go-projects{
    margin-top: 50px;
    margin-left: -18px;
}
.go-projects a{
    text-decoration: none;
    font-size: 20px;
    color: #ff004f;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: groove;
    border-width: 0cm;
    transition: box-shadow 0.5s;
}
.go-projects a:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
}

/* styling the header photo */
.header-photo {
    flex-basis: 35%;
    margin-right: -50px;
    margin-top: -25px;
   position: relative;
   filter: drop-shadow(0 6mm 4mm #00000079);
}
.header-photo img{
    width: 85%;
    margin-top: 20%;
    border-radius: 15px;
} 


/* ---------------about section ------------- */
#about{
    padding: 80px 0;
    color: #262626;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-column1{
    flex-basis: 33%;
    filter: drop-shadow(0 6mm 4mm #00000079);
}
.about-column1 img{
    width: 100%;
    border-radius: 15px; 
}
.about-column2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #080808;
}
.about-me{
    font-size: 19px;
    margin-bottom: 20px;
}
.tab-titles {
    display: flex;
    margin: 10px 0 15px;
}
.tab-links{
    margin-right: 50px;
    font-size: 17px;
    color: #262626;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    line-height: 1.3;
}
.tab-contents ul li span{
    font-size: 14px;
}
.tab-contents ul li span a{
    text-decoration: none;
    border-radius: 5px;
    border-style: groove;
    border-width: 0cm;
    transition: box-shadow 0.5s;
}
.tab-contents ul li span a:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
}
#about-name{
    font-size: 16px;
    font-weight: bold;
}
#dates{
    font-style: italic;
    font-size: 13px;
    color:#080808;
    color: #ff004f;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
} 


/* ---------------skills section ------------- */
#skills{
    padding: 30px 0;
}
.skills-row {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px; /*space between columns */
    line-height: 1.4;
    margin-left: -10px;
}

.skills-column1, .skills-column2 {
    flex: 1; 
    padding: 10px;
}

.sub-row {
    display: grid;
    grid-template-columns: 15% 85%; 
    align-items: center;
    margin-bottom: 10px;
    gap: 3px;
    border-radius: 10px; 
    border: 1px solid #e0e0e0; 
    padding: 15px; 
    transition: 0.5s ease;
}

.sub-row:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* N5: Shadow effect on hover */
    border-color: #ff004f; /* N6: Optional border color change on hover */
}

.icon {
    font-size: 55px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff004f;
}

.text {
    flex: 1; 
    padding: 10px;
}

/* ---------------projects section ------------- */
#projects{
    padding: 30px 0;
}
.sub-sub-title{
    font-size: 35px;
    margin-top: 10px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.work {
    display: grid;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    grid-template-columns: auto-fit, minmax(250px, 1fr);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}
.layer h2{
    font-weight: 500;
    margin-bottom: 20px;
    /* color: #fff; from deleted part */
}
/* .layer p{
    color: #f8f7f2;
} from deleted part */
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.2);
}
.work:hover
.layer {
    height: 100%;
}

.bth {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #ababab;
    transition: 0.5s;
}

.bth:hover{
    background-color: #ff004f;
    box-shadow:  0px 4px 8px rgba(222, 209, 209, 0.283);
}

.data-work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.data-work {
    display: grid;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    grid-template-columns: auto-fit, minmax(250px, 1fr);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: 0.5s;
    padding: 20px;
    cursor: default;
}
.data-work:hover{
    box-shadow: 5px 5px 5px rgba(228, 0, 76, 0.2);
}
.data-work h2 {
    font-size: 22px; 
    margin-bottom: 8px;
}
.data-work p {
    font-size: 16px; 
    line-height: 1.6; 
    color: #333; 
}
.data-work p span {
    color: #ff004f;
    font-style: italic;
}

/* ---------------contact & resume section ------------- */
.contact-row{
    display: flex;
    flex-wrap: nowrap; 
}
.contact-left {
    flex-basis:  50%;
}
.contact-left, .contact-right{
    margin-top: 50px;
}
.contact-right {
    flex-basis:  70%;
}
.contact-left p{
    margin-top: 20px;
    margin-bottom: 15px; 
    font-size: 20px; 
    cursor: default;
}
.contact-left p i{
    color: #ff004f;
    margin-top: 10px;
    font-size: 30px;
}
.contact-left i {
    margin-right: 10px; /* add space between icon and text */
}
.contact-text{
    font-size: 20px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #8e8e8e;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
}

form input::placeholder, form textarea::placeholder {
    color: #d8d6d6; 
}

form .bth.bth2 {
    padding: 14px 60px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 3%;
    color: #fff;
    border: none;
    border-radius: 6px;
    transition: box-shadow 0.3s ease;
}

/* hover for both submit and resume buttons */
.bth.bth2:hover {
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.3);
}

.download-resume-button {
    display: inline-block;
    text-decoration: none;
    text-align: center;

    margin-bottom: -50px;
}

/* temprorary check if some elements overflow
* {
    outline: 1px solid red;
} */