/* getting the roboto font normal and italic from the folder */
@font-face {
    font-family: 'Roboto Condensed';
    src: url('roboto-font/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('roboto-font/RobotoCondensed-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* apply the font to the whole webpage */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    background: #f8f7f2;
    color: #080808;
}

/* ----------head section----- */
#header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.container{
    padding: 10px 10%;
}

#sidemenu {
    position: fixed;
    top: 10px;
    right: 15px; 
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffffb5;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

/* create underlines for sidemenu elements*/
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s; 
}

/*make the underlines visible only after cursor movement*/
nav ul li a:hover::after{
    width: 100%;
}

/* styling the header text */
.header-text{
    margin-top: 5%;
    font-size: 30px;
    flex-basis: 60%;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #35a04c;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* styling the header photo */
.header-photo {
    flex-basis: 35%;
}
.header-photo img{
    width: 85%;
    margin-top: 5%; 
    box-shadow: #8e8e8e;
}

/* styling go to my projects button */
.go-projects{
    margin-top: -50px ;
}
.go-projects a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: groove;
    border-width: 1px;
    transition: background-color 0.5s;
    font-size: 1.1rem;
}

/* set the background appearing when the cursor is on the button */
.go-projects a:hover {
    background-color: #ff004f;
    color: #fff;
}
/* ---------------about section ------------- */
#about{
    padding: 80px 0;
    color: #262626;
}
.about-column1{
    flex-basis: 35%;
}
.about-column1 img{
    width: 100%;
    border-radius: 15px; 
}
.about-column2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #080808;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
} 


/* ---------------skills section ------------- */
#skills{
    padding: 30px 0;
}

.skills-column1, .skills-column2 {
    flex: 1; /* Makes columns equal width */
    /* Optional: Additional styling for columns */
    padding: 10px;
}

.sub-row {
    display: grid;
    grid-template-columns: 5% 95%; 
    align-items: center;
    gap: 20px;
    
}

.icon {
    flex: 0 0 40%; /* Takes up 20% of the width */
    padding: 10px;
    font-size: 3em; /* Adjust font size for bigger icons */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
    color: #ff004f;
   
}

.text {
    flex: 1; /* Takes up the remaining 80% of the width */
    padding: 10px;
}

/* ---------------projects section ------------- */
#projects{
    padding: 30px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 35px;
}
.work {
    display: grid;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    grid-template-columns: auto-fit, minmax(250px, 1fr);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}
.layer h2{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.2);
}
.work:hover
.layer {
    height: 100%;
}

.bth {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #ababab;
    transition: 0.5s;
}

.bth:hover{
    background-color: #ff004f;
    box-shadow:  0px 4px 8px rgba(222, 209, 209, 0.283);
}


/* ---------------contact & resume section ------------- */
.contact-left {
    flex-basis:  70%;
}
.contact-right {
    flex-basis:  25%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-top: 15px;
    font-size: 25px;
}

/* temprorary check if some elements overflow
* {
    outline: 1px solid red;
} */